<%= form_for @comment do |f| %>
        <div class="py-2 px-4 mb-4 bg-white border border-gray-200">
          <%= f.text_area :content, rows: 5, class:"px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none", placeholder: "Write a comment" %>
        </div>
        <%= f.submit "Submit", class:"inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-orange-600 hover:bg-orange-500" %>
      <% end %>
