<div class="mx-auto container my-10">
  <div class="grid md:grid-cols-4 gap-4 px-4 md:px-0">
    <div class="md:col-span-3">
      <img alt="recipe" src="https://images.unsplash.com/photo-1612709863934-3bf69d759c9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="object-cover max-h-96 w-full"/>
    </div>
    <div class="md:col-span-1 h-full bg-red-100">
      <div class="p-4">
        <h2 class="text-gray-800 text-3xl">Other recipe's idea ?</h2>
      </div>
    </div>
  </div>
  <%= @recipe.title %>
</div>
