<div class="flex bg-gray-200 h-20">
  <div class="justify-between  mx-auto container flex items-center px-4 md:px-0">
    <h2 class="text-4xl">🍳</h2>
    <button class="bg-orange-600 px-2 md:px-6 py-2 md:py-3 text-gray-100 md:font-medium">
      <%= link_to new_user_session_path  do %>
        Login
      <% end %>
    </button>
  </div>
</div>
